.header2 {
    background-color: #ffff;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  
    .search-icon {
      position: absolute;
      left: 20px;
      top: 50%;
      transform: translateY(-50%);
    }
  
    img {
      width: 60%;
      height: auto;
      margin-left: auto;
      margin-right: auto;
    }
  
    .banner {
      text-align: center;
      img {
        display: block;
        margin: 0 auto;
      }
    }
  }
  
